<div>
  <app-header></app-header>
</div>
    <section class="u-align-center u-clearfix u-section-1" id="carousel_9788">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-align-left u-container-style u-layout-cell u-size-24-xl u-size-25-lg u-size-25-md u-size-25-sm u-size-25-xs u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h6 class="u-text u-text-1">About Us</h6>
                <h2 class="u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"><b>We are a&nbsp;</b>
                  <span class="u-text-palette-2-base"><b>Web Design Agency</b>
                  </span>
                </h2>
                <p class="u-text u-text-3">Image from <a href="https://www.freepik.com/photos/woman" class="u-active-none u-border-1 u-border-active-palette-2-base u-border-grey-75 u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-link u-button-style u-hover-none u-none u-radius-0 u-text-body-color u-top-left-radius-0 u-top-right-radius-0 u-btn-1" target="_blank">Freepik</a>
                </p>
                <a href="https://nicepage.com/c/sale-html-templates" class="u-active-black u-align-center u-border-2 u-border-active-black u-border-grey-75 u-border-hover-black u-btn u-btn-round u-button-style u-hover-black u-none u-radius-50 u-text-active-white u-text-hover-white u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">contact Us</a>
              </div>
            </div>
            <div class="u-align-left u-container-style u-image u-image-default u-layout-cell u-size-35-lg u-size-35-md u-size-35-sm u-size-35-xs u-size-36-xl u-image-1" data-image-width="1557" data-image-height="1000" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-container-style u-list-item u-repeater-item u-white u-list-item-1">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><span class="u-file-icon u-icon u-text-palette-2-base u-icon-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"><img src="./../../../assets/images/businesswoman.png" alt=""></span>
              <h4 class="u-custom-font u-font-roboto-condensed u-text u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Cloud Solution</h4>
              <a href="https://nicepage.studio" class="u-border-1 u-border-active-grey-70 u-border-black u-border-hover-grey-70 u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-none u-radius-0 u-text-active-palette-2-base u-text-body-color u-text-hover-palette-2-base u-top-left-radius-0 u-top-right-radius-0 u-btn-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">more</a>
            </div>
          </div>
          <div class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-container-style u-list-item u-repeater-item u-video-cover u-white">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4"><span class="u-file-icon u-icon u-text-palette-2-base u-icon-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"><img src="./../../../assets/images/businesswoman.png" alt=""></span>
              <h4 class="u-custom-font u-font-roboto-condensed u-text u-text-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Speed Optimization</h4>
              <a href="https://nicepage.site" class="u-border-1 u-border-active-grey-70 u-border-black u-border-hover-grey-70 u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-none u-radius-0 u-text-active-palette-2-base u-text-body-color u-text-hover-palette-2-base u-top-left-radius-0 u-top-right-radius-0 u-btn-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">more</a>
            </div>
          </div>
          <div class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-container-style u-list-item u-repeater-item u-video-cover u-white">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5"><span class="u-file-icon u-icon u-text-palette-2-base u-icon-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"><img src="./../../../assets/images/businesswoman.png" alt=""></span>
              <h4 class="u-custom-font u-font-roboto-condensed u-text u-text-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Online Marketing</h4>
              <a href="https://nicepage.com/c/food-restaurant-html-templates" class="u-border-1 u-border-active-grey-70 u-border-black u-border-hover-grey-70 u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-none u-radius-0 u-text-active-palette-2-base u-text-body-color u-text-hover-palette-2-base u-top-left-radius-0 u-top-right-radius-0 u-btn-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">more</a>
            </div>
          </div>
          <div class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-container-style u-list-item u-repeater-item u-video-cover u-white">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6"><span class="u-file-icon u-icon u-text-palette-2-base u-icon-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"><img src="./../../../assets/images/businesswoman.png" alt=""></span>
              <h4 class="u-custom-font u-font-roboto-condensed u-text u-text-7" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Website Design</h4>
              <a href="https://nicepage.com/wordpress-website-builder" class="u-border-1 u-border-active-grey-70 u-border-black u-border-hover-grey-70 u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-style u-none u-radius-0 u-text-active-palette-2-base u-text-body-color u-text-hover-palette-2-base u-top-left-radius-0 u-top-right-radius-0 u-btn-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">more</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-section-2" id="carousel_7385" data-image-width="1980" data-image-height="1214">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-align-center u-container-style u-group u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
          <div class="u-container-layout u-valign-middle">
            <h2 class="u-text u-text-1">About Studio</h2>
            <p class="u-text u-text-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at lacusat augue aliquet posuere. Aliquam fringilla elementum varius. Nunclobortis nisl in nibh commodo, quis placerat nisi feugiat.</p>
          </div>
        </div>
        <div class="u-clearfix u-layout-custom-sm u-layout-custom-xs u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-right u-container-style u-layout-cell u-size-30-lg u-size-30-md u-size-30-sm u-size-30-xl u-size-60-xs u-layout-cell-1">
                <div class="u-container-layout u-valign-top u-container-layout-2">
                  <a href="https://nicepage.com/website-templates" class="u-active-palette-2-base u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-grey-10 u-hover-palette-2-base u-radius-50 u-text-active-white u-text-body-color u-text-hover-white u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Book a Call<br>
                  </a>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30-lg u-size-30-md u-size-30-sm u-size-30-xl u-size-60-xs u-layout-cell-2">
                <div class="u-container-layout u-valign-top u-container-layout-3">
                  <a href="https://nicepage.com/html-website-builder" class="u-active-grey-10 u-border-2 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-grey-10 u-palette-2-base u-radius-50 u-text-active-black u-text-hover-black u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"> Our Works<br>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-10 u-valign-middle u-section-3" id="carousel_fc04">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-layout-cell u-size-31 u-image-1" data-image-width="1200" data-image-height="771" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-29 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-clearfix u-layout-wrap u-layout-wrap-2">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-col">
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-row">
                <div class="u-align-right u-container-style u-layout-cell u-size-9 u-layout-cell-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                  <div class="u-container-layout u-valign-top u-container-layout-3">
                    <h2 class="u-align-left u-custom-font u-font-oswald u-text u-text-default u-text-palette-2-base u-text-1">01</h2>
                  </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-size-51 u-layout-cell-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                  <div class="u-container-layout u-valign-top u-container-layout-4">
                    <h2 class="u-text u-text-2">About Our Studio</h2>
                    <p class="u-text u-text-default u-text-3">Image from <a href="https://www.freepik.com/photos/business" class="u-active-none u-border-1 u-border-active-palette-2-base u-border-black u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-link u-button-style u-hover-none u-none u-radius-0 u-text-body-color u-top-left-radius-0 u-top-right-radius-0 u-btn-1" target="_blank">Freepik</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-row">
                <div class="u-align-left u-container-style u-layout-cell u-size-31 u-layout-cell-5" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="750">
                  <div class="u-container-layout u-valign-top u-container-layout-5">
                    <p class="u-spacing-20 u-text u-text-4">
                      <span style="font-weight: 700;"></span>We are the custom web design company in USA that offers inspiring web design services with soothing colors, awesome visuals, a user-friendly layout, comfortable and pleasant user experience that will elongate users' stay while encouraging them for repeated visits.<br>
                    </p>
                  </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-radius-20 u-shape-round u-size-29 u-white u-layout-cell-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                  <div class="u-container-layout u-valign-top u-container-layout-6">
                    <p class="u-spacing-20 u-text u-text-5">
                      <span style="font-weight: 700;">01.</span> Web Design<br>
                      <span style="font-weight: 700;">02.</span> Development<br>
                      <span style="font-weight: 700;">03.</span> Consultancy<br>
                      <span style="font-weight: 700;">04.</span>&nbsp;Fatest Hosting<br>
                      <span style="font-weight: 700;">05.</span> Duis aute irure<span style="font-weight: 700;">
                        <br>06.
                      </span> Ut enim ​deserunt mollit
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-image u-section-4" id="carousel_6a49" data-image-width="1980" data-image-height="1112">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-right u-container-style u-layout-cell u-size-24-lg u-size-24-xl u-size-31-md u-size-31-sm u-size-31-xs u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1750">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                  <h3 class="u-align-left u-text u-text-body-alt-color u-text-1"> Your business website is your digital reception for the clients and visitors. </h3>
                  <div class="u-palette-2-light-1 u-shape u-shape-circle u-shape-1"></div>
                </div>
              </div>
              <div class="u-align-justify u-container-style u-layout-cell u-shape-rectangle u-size-29-md u-size-29-sm u-size-29-xs u-size-36-lg u-size-36-xl u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
                <div class="u-container-layout u-container-layout-2">
                  <p class="u-text u-text-body-alt-color u-text-default u-text-2">Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led.&nbsp;<br>
                    <br>Oh feel if up to till like.&nbsp;He an thing rapid these after going drawn or. Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is ye.
                  </p>
                  <a href="https://nicepage.review" class="u-active-white u-align-center u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-white u-none u-radius-50 u-text-active-palette-2-base u-text-hover-palette-2-base u-btn-1">contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-image u-section-5" id="carousel_b62f" data-image-width="1980" data-image-height="1714">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-29 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-container-style u-image u-layout-cell u-size-31 u-image-1" data-image-width="1200" data-image-height="771" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-clearfix u-layout-wrap u-layout-wrap-2">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-col">
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-size-10-md u-size-10-sm u-size-10-xs u-size-9-lg u-size-9-xl u-layout-cell-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">
                  <div class="u-container-layout u-valign-top u-container-layout-3">
                    <h2 class="u-custom-font u-font-oswald u-text u-text-default u-text-palette-2-base u-text-1">02</h2>
                  </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-size-50-md u-size-50-sm u-size-50-xs u-size-51-lg u-size-51-xl u-layout-cell-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                  <div class="u-container-layout u-valign-top u-container-layout-4">
                    <h2 class="u-text u-text-2"> Custom Solutions</h2>
                    <p class="u-text u-text-default u-text-3">Image from <a href="https://www.freepik.com/photos/business" class="u-active-none u-border-1 u-border-active-palette-2-base u-border-black u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-link u-button-style u-hover-none u-none u-radius-0 u-text-body-color u-top-left-radius-0 u-top-right-radius-0 u-btn-1" target="_blank">Freepik</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-row">
                <div class="u-align-left u-container-style u-layout-cell u-size-31 u-layout-cell-5">
                  <div class="u-container-layout u-valign-top u-container-layout-5">
                    <p class="u-spacing-20 u-text u-text-4">
                      <span style="font-weight: 700;"></span>We help businesses to innovate and grow by strengthening their ideas with our customized software solutions for multiple industries which includes healthcare, blockchain, education, insurance and many more<br>
                    </p>
                  </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-size-29 u-white u-layout-cell-6">
                  <div class="u-container-layout u-container-layout-6">
                    <p class="u-text u-text-default u-text-5"> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-6" id="carousel_a367">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h6 class="u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1750">testimonials</h6>
        <h2 class="u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500">What Clients Say<br>
        </h2>
        <p class="u-text u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1500">We place huge value on strong relationships and have seen the benefit they bring to our business. Customer feedback is vital in helping us to get it right.</p>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <div alt="" class="u-border-5 u-border-white u-image u-image-circle u-image-1" data-image-width="206" data-image-height="206" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="750"></div>
                <p class="u-text u-text-palette-2-light-3 u-text-4">Vitae suscipit tellus mauris a diam maecenas sed enim ut. Mauris augue neque gravida in fermentum. Praesent semper feugiat nibh sed pulvinar proin. </p>
                <h5 class="u-text u-text-5">Nat Reynolds</h5>
                <h6 class="u-text u-text-6">Chief Accountant</h6>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <div alt="" class="u-border-5 u-border-white u-image u-image-circle u-image-2" data-image-width="206" data-image-height="206" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="750"></div>
                <p class="u-text u-text-palette-2-light-3 u-text-7">Pharetra vel turpis nunc eget lorem. Quisque id diam vel quam elementum pulvinar etiam. Urna porttitor rhoncus dolor purus non enim praesent.&nbsp; </p>
                <h5 class="u-text u-text-8">Celia Almeda</h5>
                <h6 class="u-text u-text-9">Secretary</h6>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <div alt="" class="u-border-5 u-border-white u-image u-image-circle u-image-3" data-image-width="206" data-image-height="206" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="750"></div>
                <p class="u-text u-text-palette-2-light-3 u-text-10">Mauris augue neque gravida in fermentum. Praesent semper feugiat nibh sed pulvinar proin. Nibh nisl dictumst vestibulum rhoncus est pellentesque elit. </p>
                <h5 class="u-text u-text-11">Bob Roberts</h5>
                <h6 class="u-text u-text-12">Sales Manager</h6>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                <div alt="" class="u-border-5 u-border-white u-image u-image-circle u-image-4" data-image-width="206" data-image-height="206" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="750"></div>
                <p class="u-text u-text-palette-2-light-3 u-text-13">Mauris augue neque gravida in fermentum. Praesent semper feugiat nibh sed pulvinar proin. Nibh nisl dictumst vestibulum rhoncus est pellentesque elit. </p>
                <h5 class="u-text u-text-14"> Paul Smith</h5>
                <h6 class="u-text u-text-15">Developer</h6>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-5" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                <div alt="" class="u-border-5 u-border-white u-image u-image-circle u-image-5" data-image-width="206" data-image-height="206" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="750"></div>
                <p class="u-text u-text-palette-2-light-3 u-text-16">Mauris augue neque gravida in fermentum. Praesent semper feugiat nibh sed pulvinar proin. Nibh nisl dictumst vestibulum rhoncus est pellentesque elit. </p>
                <h5 class="u-text u-text-17">Olga Jhonson</h5>
                <h6 class="u-text u-text-18">top manager</h6>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-6" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6">
                <div alt="" class="u-border-5 u-border-white u-image u-image-circle u-image-6" data-image-width="206" data-image-height="206" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="750"></div>
                <p class="u-text u-text-palette-2-light-3 u-text-19">Mauris augue neque gravida in fermentum. Praesent semper feugiat nibh sed pulvinar proin. Nibh nisl dictumst vestibulum rhoncus est pellentesque elit. </p>
                <h5 class="u-text u-text-20"> Paul Hudson</h5>
                <h6 class="u-text u-text-21">Web designer</h6>
              </div>
            </div>
          </div>
        </div>
        <p class="u-text u-text-default u-text-22" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="750">Images from <a href="https://freepik.com/photos/people" class="u-active-none u-border-1 u-border-active-palette-2-light-2 u-border-hover-palette-2-light-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-link u-button-style u-hover-none u-none u-radius-0 u-text-body-alt-color u-top-left-radius-0 u-top-right-radius-0 u-btn-1" target="_blank">Freepik</a>
        </p>
      </div>
    </section>
    <section class="u-clearfix u-valign-middle u-white u-section-7" id="carousel_5a3f">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-layout-cell u-size-31 u-image-1" data-image-width="1200" data-image-height="771" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
              <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-29 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-clearfix u-layout-wrap u-layout-wrap-2">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-col">
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-row">
                <div class="u-align-right u-container-style u-layout-cell u-size-9 u-layout-cell-3" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="250">
                  <div class="u-container-layout u-valign-top u-container-layout-3">
                    <h2 class="u-align-left u-custom-font u-font-oswald u-text u-text-default u-text-palette-2-base u-text-1">03</h2>
                  </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-size-51 u-layout-cell-4" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
                  <div class="u-container-layout u-valign-top u-container-layout-4">
                    <h2 class="u-text u-text-2"> The Process For Success</h2>
                    <p class="u-text u-text-default u-text-3">Image from <a href="https://www.freepik.com/photos/business" class="u-active-none u-border-1 u-border-active-palette-2-base u-border-black u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-link u-button-style u-hover-none u-none u-radius-0 u-text-body-color u-top-left-radius-0 u-top-right-radius-0 u-btn-1" target="_blank">Freepik</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-row">
                <div class="u-align-left u-container-style u-layout-cell u-size-31 u-layout-cell-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                  <div class="u-container-layout u-valign-top u-container-layout-5">
                    <p class="u-spacing-20 u-text u-text-4">
                      <span style="font-weight: 700;"></span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.<br>
                    </p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-shape-round u-size-29 u-layout-cell-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                  <div class="u-container-layout u-container-layout-6">
                    <p class="u-text u-text-5">
                      <span class="u-text-palette-2-base">Nec feugiat nisl pretium fusce id. Justo laoreet sit amet cursus sit amet. Porta non pulvinar neque laoreet suspendisse interdum consectetur libero.</span>
                    </p>
                    <ul class="u-custom-font u-custom-list u-font-montserrat u-spacing-12 u-text u-text-6">
                      <li>
                        <div class="u-list-icon u-text-palette-2-base">
                          <svg class="u-svg-content" viewBox="0 0 415.994 415.994" id="svg-2b0f"><path d="m391.645 193.946-352-192c-4.96-2.688-10.976-2.592-15.808.288-4.864 2.88-7.84 8.128-7.84 13.76v384c0 5.664 2.976 10.88 7.84 13.76 2.496 1.504 5.344 2.24 8.16 2.24 2.656 0 5.28-.672 7.648-1.984l352-192c5.152-2.752 8.352-8.16 8.352-14.016s-3.2-11.264-8.352-14.048z" fill="currentColor"></path></svg>
                        </div> Lorem ipsum dolor sit amet
                      </li>
                      <li>
                        <div class="u-list-icon u-text-palette-2-base">
                          <svg class="u-svg-content" viewBox="0 0 415.994 415.994" id="svg-2b0f"><path d="m391.645 193.946-352-192c-4.96-2.688-10.976-2.592-15.808.288-4.864 2.88-7.84 8.128-7.84 13.76v384c0 5.664 2.976 10.88 7.84 13.76 2.496 1.504 5.344 2.24 8.16 2.24 2.656 0 5.28-.672 7.648-1.984l352-192c5.152-2.752 8.352-8.16 8.352-14.016s-3.2-11.264-8.352-14.048z" fill="currentColor"></path></svg>
                        </div> Excepteur sint occaecat
                      </li>
                      <li>
                        <div class="u-list-icon u-text-palette-2-base">
                          <svg class="u-svg-content" viewBox="0 0 415.994 415.994" id="svg-2b0f"><path d="m391.645 193.946-352-192c-4.96-2.688-10.976-2.592-15.808.288-4.864 2.88-7.84 8.128-7.84 13.76v384c0 5.664 2.976 10.88 7.84 13.76 2.496 1.504 5.344 2.24 8.16 2.24 2.656 0 5.28-.672 7.648-1.984l352-192c5.152-2.752 8.352-8.16 8.352-14.016s-3.2-11.264-8.352-14.048z" fill="currentColor"></path></svg>
                        </div> Ut enim ad minim veniam
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-image u-section-8" id="carousel_3596" data-image-width="1980" data-image-height="1112">
      <div class="u-expanded-width u-shape u-shape-rectangle u-white u-shape-1"></div>
      <h2 class="u-text u-text-body-color u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1750">Top web designing services</h2>
      <p class="u-text u-text-grey-40 u-text-2" data-animation-name="customAnimationIn" data-animation-duration="2000"> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-style u-grey-80 u-list-item u-radius-20 u-repeater-item u-shape-round u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
              <h3 class="u-text u-text-default u-text-3">01</h3>
              <p class="u-text u-text-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <div class="u-container-style u-grey-80 u-list-item u-radius-20 u-repeater-item u-shape-round u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
              <h3 class="u-text u-text-default u-text-5">02</h3>
              <p class="u-text u-text-6">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <div class="u-container-style u-grey-80 u-list-item u-radius-20 u-repeater-item u-shape-round u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
              <h3 class="u-text u-text-default u-text-7">03</h3>
              <p class="u-text u-text-8">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-image u-section-9" id="carousel_befa" data-image-width="1980" data-image-height="1267">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-35 u-layout-cell-1">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                  <h2 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-1" data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Left" data-animation-delay="500"> Preparing For Your Success,<br>We Provide Truly Prominent IT Solutions.
                  </h2>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-size-25 u-layout-cell-2" data-animation-name="zoomIn" data-animation-duration="1750" data-animation-direction="">
                <div class="u-container-layout u-valign-bottom u-container-layout-2">
                  <h3 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-default u-text-2"> Make An Appointment</h3>
                  <p class="u-text u-text-body-alt-color u-text-default u-text-3"> Get in touch and discover how we can help. We aim to be in touch</p>
                  <div class="u-form u-palette-5-dark-3 u-radius-20 u-form-1">
                    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 40px;">
                      <div class="u-form-group u-form-name">
                        <label for="name-2137" class="u-form-control-hidden u-label"></label>
                        <input type="text" placeholder="Enter your Name" id="name-2137" name="name" class="u-input u-input-rectangle u-radius-20" required="">
                      </div>
                      <div class="u-form-email u-form-group">
                        <label for="email-2137" class="u-form-control-hidden u-label"></label>
                        <input type="email" placeholder="Enter a valid email address" id="email-2137" name="email" class="u-input u-input-rectangle u-radius-20" required="">
                      </div>
                      <div class="u-form-group u-form-message">
                        <label for="message-2137" class="u-form-control-hidden u-label"></label>
                        <textarea placeholder="Enter your message" rows="4" cols="50" id="message-2137" name="message" class="u-input u-input-rectangle u-radius-20" required=""></textarea>
                      </div>
                      <div class="u-align-left u-form-group u-form-submit">
                        <a href="#" class="u-active-white u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-white u-palette-2-base u-radius-20 u-text-active-palette-2-base u-text-hover-palette-2-base u-btn-1">Submit</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                      <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                      <input type="hidden" name="formServices" value="715304b0e9127416c2717c0f48335641">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
