<div class="wc-row row">
  <div class="kc-wrap-columns">
    <div class="kc-elm kc-css-899813 small-12 columns small-12">
      <div class="kc-col-container">
        <div id="294420" class="section-title-wrapper">
          <div class="section-title">
            <h2>Dự án</h2>
            <p>Một số Dự án nổi bật của Chúng tôi!</p>
          </div>
        </div>
        <div
          id="950970"
          class="teachers-wrapper owl-carousel owl-theme owl-responsive-1000 owl-loaded"
        >
          <div class="owl-stage-outer">
            <div
              class="owl-stage"
              style="
                transform: translate3d(-1210px, 0px, 0px);
                transition: all 0s ease 0s;
                width: 5445px;
              "
            >
              <div
                class="owl-item cloned"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/16/Du-an-King-Coffee--Tea--Thai-Binh.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520115926.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Dự án King Coffee&amp; Tea, Thái Bình"
                          srcset="
                            /Upload/Images/040520115926.jpg 350w,
                            /Upload/Images/040520115926.jpg 150w,
                            /Upload/Images/040520115926.jpg 300w,
                            /Upload/Images/040520115926.jpg 180w,
                            /Upload/Images/040520115926.jpg 175w,
                            /Upload/Images/040520115926.jpg 165w,
                            /Upload/Images/040520115926.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/16/Du-an-King-Coffee--Tea--Thai-Binh.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/16/Du-an-King-Coffee--Tea--Thai-Binh.htm"
                          >Dự án King Coffee&amp; Tea, Thái Bình</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/17/Du-an-cua-nhom-Xingfa-cho-biet-thu-tai-Vinh-Yen--Vinh-Phuc.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520120300.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Dự án cửa nhôm Xingfa cho biệt thự tại Vĩnh Yên, Vĩnh Phúc"
                          srcset="
                            /Upload/Images/040520120300.jpg 350w,
                            /Upload/Images/040520120300.jpg 150w,
                            /Upload/Images/040520120300.jpg 300w,
                            /Upload/Images/040520120300.jpg 180w,
                            /Upload/Images/040520120300.jpg 175w,
                            /Upload/Images/040520120300.jpg 165w,
                            /Upload/Images/040520120300.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/17/Du-an-cua-nhom-Xingfa-cho-biet-thu-tai-Vinh-Yen--Vinh-Phuc.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/17/Du-an-cua-nhom-Xingfa-cho-biet-thu-tai-Vinh-Yen--Vinh-Phuc.htm"
                          >Dự án cửa nhôm Xingfa cho biệt thự tại Vĩnh
                          Yên, Vĩnh Phúc</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/18/Du-an-nha-sinh-thai-tai-Nam-Tu-Liem--Ha-Noi.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520120700.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Dự án nhà sinh thái tại Nam Từ Liêm, Hà Nội"
                          srcset="
                            /Upload/Images/040520120700.jpg 350w,
                            /Upload/Images/040520120700.jpg 150w,
                            /Upload/Images/040520120700.jpg 300w,
                            /Upload/Images/040520120700.jpg 180w,
                            /Upload/Images/040520120700.jpg 175w,
                            /Upload/Images/040520120700.jpg 165w,
                            /Upload/Images/040520120700.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/18/Du-an-nha-sinh-thai-tai-Nam-Tu-Liem--Ha-Noi.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/18/Du-an-nha-sinh-thai-tai-Nam-Tu-Liem--Ha-Noi.htm"
                          >Dự án nhà sinh thái tại Nam Từ Liêm, Hà Nội</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers end">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/20/Lap-dat-cua-nhom-Viet-Phap-cho-truong-dai-hoc-FPT.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520031527.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Lắp đặt cửa nhôm Việt Pháp cho trường đại học FPT"
                          srcset="
                            /Upload/Images/040520031527.jpg 350w,
                            /Upload/Images/040520031527.jpg 150w,
                            /Upload/Images/040520031527.jpg 300w,
                            /Upload/Images/040520031527.jpg 180w,
                            /Upload/Images/040520031527.jpg 175w,
                            /Upload/Images/040520031527.jpg 165w,
                            /Upload/Images/040520031527.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/20/Lap-dat-cua-nhom-Viet-Phap-cho-truong-dai-hoc-FPT.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/20/Lap-dat-cua-nhom-Viet-Phap-cho-truong-dai-hoc-FPT.htm"
                          >Lắp đặt cửa nhôm Việt Pháp cho trường đại học
                          FPT</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/11/Du-an-khu-khach-san-nghi-duong-Tuan-Chau-Ecopark.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520114017.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Dự án khu khách sạn nghỉ dưỡng Tuần Châu Ecopark"
                          srcset="
                            ../../../assets/Upload/Images/040520114017.jpg 350w,
                            ../../../assets/Upload/Images/040520114017.jpg 150w,
                            ../../../assets/Upload/Images/040520114017.jpg 300w,
                            ../../../assets/Upload/Images/040520114017.jpg 180w,
                            ../../../assets/Upload/Images/040520114017.jpg 175w,
                            ../../../assets/Upload/Images/040520114017.jpg 165w,
                            ../../../assets/Upload/Images/040520114017.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/11/Du-an-khu-khach-san-nghi-duong-Tuan-Chau-Ecopark.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/11/Du-an-khu-khach-san-nghi-duong-Tuan-Chau-Ecopark.htm"
                          >Dự án khu khách sạn nghỉ dưỡng Tuần Châu
                          Ecopark</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/19/Du-an-khu-biet-thu-lien-ke-Phung-Khoang-Ha-Noi.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520114033.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Dự án khu biệt thự liền kề Phùng Khoang Hà Nội"
                          srcset="
                            ../../../assets/Upload/Images/040520114033.jpg 350w,
                            ../../../assets/Upload/Images/040520114033.jpg 150w,
                            ../../../assets/Upload/Images/040520114033.jpg 300w,
                            ../../../assets/Upload/Images/040520114033.jpg 180w,
                            ../../../assets/Upload/Images/040520114033.jpg 175w,
                            ../../../assets/Upload/Images/040520114033.jpg 165w,
                            ../../../assets/Upload/Images/040520114033.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/19/Du-an-khu-biet-thu-lien-ke-Phung-Khoang-Ha-Noi.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/19/Du-an-khu-biet-thu-lien-ke-Phung-Khoang-Ha-Noi.htm"
                          >Dự án khu biệt thự liền kề Phùng Khoang Hà
                          Nội</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/12/Du-an-biet-thu-lien-ke-nha-chu-Hung-tai-Ha-Noi.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520114453.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Dự án biệt thự liền kề nhà chú Hùng tại Hà Nội"
                          srcset="
                            /Upload/Images/040520114453.jpg 350w,
                            /Upload/Images/040520114453.jpg 150w,
                            /Upload/Images/040520114453.jpg 300w,
                            /Upload/Images/040520114453.jpg 180w,
                            /Upload/Images/040520114453.jpg 175w,
                            /Upload/Images/040520114453.jpg 165w,
                            /Upload/Images/040520114453.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/12/Du-an-biet-thu-lien-ke-nha-chu-Hung-tai-Ha-Noi.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/12/Du-an-biet-thu-lien-ke-nha-chu-Hung-tai-Ha-Noi.htm"
                          >Dự án biệt thự liền kề nhà chú Hùng tại Hà
                          Nội</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/13/Cua-nhom-cao-cap-cho-biet-thu-Jupiter-Spa.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520114835.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Cửa nhôm cao cấp cho biệt thự Jupiter Spa"
                          srcset="
                            /Upload/Images/040520114835.jpg 350w,
                            /Upload/Images/040520114835.jpg 150w,
                            /Upload/Images/040520114835.jpg 300w,
                            /Upload/Images/040520114835.jpg 180w,
                            /Upload/Images/040520114835.jpg 175w,
                            /Upload/Images/040520114835.jpg 165w,
                            /Upload/Images/040520114835.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/13/Cua-nhom-cao-cap-cho-biet-thu-Jupiter-Spa.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/13/Cua-nhom-cao-cap-cho-biet-thu-Jupiter-Spa.htm"
                          >Cửa nhôm cao cấp cho biệt thự Jupiter Spa</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/14/Cong-trinh-biet-thu-lien-ke-da-trien-khai.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520115226.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Công trình biệt thự liền kề đã triển khai"
                          srcset="
                            ../../../assets/Upload/Images/040520115226.jpg 350w,
                            ../../../assets/Upload/Images/040520115226.jpg 150w,
                            ../../../assets/Upload/Images/040520115226.jpg 300w,
                            ../../../assets/Upload/Images/040520115226.jpg 180w,
                            ../../../assets/Upload/Images/040520115226.jpg 175w,
                            ../../../assets/Upload/Images/040520115226.jpg 165w,
                            ../../../assets/Upload/Images/040520115226.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/14/Cong-trinh-biet-thu-lien-ke-da-trien-khai.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/14/Cong-trinh-biet-thu-lien-ke-da-trien-khai.htm"
                          >Công trình biệt thự liền kề đã triển khai</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/15/Du-an-Khu-nghi-duong-Cong-An-Tinh-Quang-Tri.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520115600.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Dự án Khu nghỉ dưỡng Công An Tỉnh Quảng Trị"
                          srcset="
                            ../../../assets/Upload/Images/040520115600.jpg 350w,
                            ../../../assets/Upload/Images/040520115600.jpg 150w,
                            ../../../assets/Upload/Images/040520115600.jpg 300w,
                            ../../../assets/Upload/Images/040520115600.jpg 180w,
                            ../../../assets/Upload/Images/040520115600.jpg 175w,
                            ../../../assets/Upload/Images/040520115600.jpg 165w,
                            ../../../assets/Upload/Images/040520115600.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/15/Du-an-Khu-nghi-duong-Cong-An-Tinh-Quang-Tri.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/15/Du-an-Khu-nghi-duong-Cong-An-Tinh-Quang-Tri.htm"
                          >Dự án Khu nghỉ dưỡng Công An Tỉnh Quảng Trị</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/16/Du-an-King-Coffee--Tea--Thai-Binh.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520115926.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Dự án King Coffee&amp; Tea, Thái Bình"
                          srcset="
                            /Upload/Images/040520115926.jpg 350w,
                            /Upload/Images/040520115926.jpg 150w,
                            /Upload/Images/040520115926.jpg 300w,
                            /Upload/Images/040520115926.jpg 180w,
                            /Upload/Images/040520115926.jpg 175w,
                            /Upload/Images/040520115926.jpg 165w,
                            /Upload/Images/040520115926.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/16/Du-an-King-Coffee--Tea--Thai-Binh.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/16/Du-an-King-Coffee--Tea--Thai-Binh.htm"
                          >Dự án King Coffee&amp; Tea, Thái Bình</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/17/Du-an-cua-nhom-Xingfa-cho-biet-thu-tai-Vinh-Yen--Vinh-Phuc.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520120300.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Dự án cửa nhôm Xingfa cho biệt thự tại Vĩnh Yên, Vĩnh Phúc"
                          srcset="
                            /Upload/Images/040520120300.jpg 350w,
                            /Upload/Images/040520120300.jpg 150w,
                            /Upload/Images/040520120300.jpg 300w,
                            /Upload/Images/040520120300.jpg 180w,
                            /Upload/Images/040520120300.jpg 175w,
                            /Upload/Images/040520120300.jpg 165w,
                            /Upload/Images/040520120300.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/17/Du-an-cua-nhom-Xingfa-cho-biet-thu-tai-Vinh-Yen--Vinh-Phuc.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/17/Du-an-cua-nhom-Xingfa-cho-biet-thu-tai-Vinh-Yen--Vinh-Phuc.htm"
                          >Dự án cửa nhôm Xingfa cho biệt thự tại Vĩnh
                          Yên, Vĩnh Phúc</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/18/Du-an-nha-sinh-thai-tai-Nam-Tu-Liem--Ha-Noi.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520120700.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Dự án nhà sinh thái tại Nam Từ Liêm, Hà Nội"
                          srcset="
                            /Upload/Images/040520120700.jpg 350w,
                            /Upload/Images/040520120700.jpg 150w,
                            /Upload/Images/040520120700.jpg 300w,
                            /Upload/Images/040520120700.jpg 180w,
                            /Upload/Images/040520120700.jpg 175w,
                            /Upload/Images/040520120700.jpg 165w,
                            /Upload/Images/040520120700.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/18/Du-an-nha-sinh-thai-tai-Nam-Tu-Liem--Ha-Noi.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/18/Du-an-nha-sinh-thai-tai-Nam-Tu-Liem--Ha-Noi.htm"
                          >Dự án nhà sinh thái tại Nam Từ Liêm, Hà Nội</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers end">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/20/Lap-dat-cua-nhom-Viet-Phap-cho-truong-dai-hoc-FPT.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520031527.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Lắp đặt cửa nhôm Việt Pháp cho trường đại học FPT"
                          srcset="
                            /Upload/Images/040520031527.jpg 350w,
                            /Upload/Images/040520031527.jpg 150w,
                            /Upload/Images/040520031527.jpg 300w,
                            /Upload/Images/040520031527.jpg 180w,
                            /Upload/Images/040520031527.jpg 175w,
                            /Upload/Images/040520031527.jpg 165w,
                            /Upload/Images/040520031527.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/20/Lap-dat-cua-nhom-Viet-Phap-cho-truong-dai-hoc-FPT.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/20/Lap-dat-cua-nhom-Viet-Phap-cho-truong-dai-hoc-FPT.htm"
                          >Lắp đặt cửa nhôm Việt Pháp cho trường đại học
                          FPT</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/11/Du-an-khu-khach-san-nghi-duong-Tuan-Chau-Ecopark.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520114017.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Dự án khu khách sạn nghỉ dưỡng Tuần Châu Ecopark"
                          srcset="
                            /Upload/Images/040520114017.jpg 350w,
                            /Upload/Images/040520114017.jpg 150w,
                            /Upload/Images/040520114017.jpg 300w,
                            /Upload/Images/040520114017.jpg 180w,
                            /Upload/Images/040520114017.jpg 175w,
                            /Upload/Images/040520114017.jpg 165w,
                            /Upload/Images/040520114017.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/11/Du-an-khu-khach-san-nghi-duong-Tuan-Chau-Ecopark.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/11/Du-an-khu-khach-san-nghi-duong-Tuan-Chau-Ecopark.htm"
                          >Dự án khu khách sạn nghỉ dưỡng Tuần Châu
                          Ecopark</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/19/Du-an-khu-biet-thu-lien-ke-Phung-Khoang-Ha-Noi.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520114033.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Dự án khu biệt thự liền kề Phùng Khoang Hà Nội"
                          srcset="
                            /Upload/Images/040520114033.jpg 350w,
                            /Upload/Images/040520114033.jpg 150w,
                            /Upload/Images/040520114033.jpg 300w,
                            /Upload/Images/040520114033.jpg 180w,
                            /Upload/Images/040520114033.jpg 175w,
                            /Upload/Images/040520114033.jpg 165w,
                            /Upload/Images/040520114033.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/19/Du-an-khu-biet-thu-lien-ke-Phung-Khoang-Ha-Noi.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/19/Du-an-khu-biet-thu-lien-ke-Phung-Khoang-Ha-Noi.htm"
                          >Dự án khu biệt thự liền kề Phùng Khoang Hà
                          Nội</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/12/Du-an-biet-thu-lien-ke-nha-chu-Hung-tai-Ha-Noi.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520114453.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Dự án biệt thự liền kề nhà chú Hùng tại Hà Nội"
                          srcset="
                            /Upload/Images/040520114453.jpg 350w,
                            /Upload/Images/040520114453.jpg 150w,
                            /Upload/Images/040520114453.jpg 300w,
                            /Upload/Images/040520114453.jpg 180w,
                            /Upload/Images/040520114453.jpg 175w,
                            /Upload/Images/040520114453.jpg 165w,
                            /Upload/Images/040520114453.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/12/Du-an-biet-thu-lien-ke-nha-chu-Hung-tai-Ha-Noi.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/12/Du-an-biet-thu-lien-ke-nha-chu-Hung-tai-Ha-Noi.htm"
                          >Dự án biệt thự liền kề nhà chú Hùng tại Hà
                          Nội</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 262.5px; margin-right: 40px"
              >
                <div class="teachers">
                  <div class="teacher">
                    <div class="teacher-thumb">
                      <a
                        href="/du-an/13/Cua-nhom-cao-cap-cho-biet-thu-Jupiter-Spa.htm"
                      >
                        <img
                          width="350"
                          height="350"
                          src="../../../assets/Upload/Images/040520114835.jpg"
                          class="attachment-wc-teacher-thumbnail size-wc-teacher-thumbnail wp-post-image"
                          alt="Cửa nhôm cao cấp cho biệt thự Jupiter Spa"
                          srcset="
                            /Upload/Images/040520114835.jpg 350w,
                            /Upload/Images/040520114835.jpg 150w,
                            /Upload/Images/040520114835.jpg 300w,
                            /Upload/Images/040520114835.jpg 180w,
                            /Upload/Images/040520114835.jpg 175w,
                            /Upload/Images/040520114835.jpg 165w,
                            /Upload/Images/040520114835.jpg 390w
                          "
                          sizes="(max-width: 350px) 100vw, 350px"
                        />
                      </a>
                      <div class="teacher-links menu-centered">
                        <ul class="menu">
                          <li>
                            <a href="https://www.facebook.com"
                              ><i class="fab fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.twiter.com"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="http://www.linkedIn.com"
                              ><i class="fab fa-linkedin-in"></i
                            ></a>
                          </li>
                        </ul>
                        <a
                          href="/du-an/13/Cua-nhom-cao-cap-cho-biet-thu-Jupiter-Spa.htm"
                          class="small-button"
                          >Xem thêm »</a
                        >
                      </div>
                    </div>
                    <div class="teacher-meta">
                      <h4>
                        <a
                          href="/du-an/13/Cua-nhom-cao-cap-cho-biet-thu-Jupiter-Spa.htm"
                          >Cửa nhôm cao cấp cho biệt thự Jupiter Spa</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-controls">
            <div class="owl-nav">
              <div class="owl-prev" style="">
                <i class="fa fa-angle-left"></i>
              </div>
              <div class="owl-next" style="">
                <i class="fa fa-angle-right"></i>
              </div>
            </div>
            <div class="owl-dots" style="">
              <div class="owl-dot active"><span></span></div>
              <div class="owl-dot"><span></span></div>
              <div class="owl-dot"><span></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
