<div class="wc-row row">
  <div class="kc-wrap-columns">
    <div class="kc-elm kc-css-85957 small-12 columns small-12">
      <div class="kc-col-container">
        <div id="241297" class="section-title-wrapper">
          <div class="section-title">
            <h2>ĐÁNH GIÁ CỦA KHÁCH HÀNG</h2>
            <p>Khách hàng đã nói gì về Chúng tôi?</p>
          </div>
        </div>
        <div class="row">
          <div
            id="746180"
            class="small-12 columns testimonials side-controls dark_testimonial owl-carousel owl-theme owl-responsive-1000 owl-loaded"
          >
            <div class="owl-stage-outer">
              <div
                class="owl-stage"
                style="
                  transform: translate3d(-1210px, 0px, 0px);
                  transition: all 0.25s ease 0s;
                  width: 4840px;
                "
              >
                <div
                  class="owl-item cloned"
                  style="width: 565px; margin-right: 40px"
                >
                  <div class="testimonial">
                    <div class="testimonial-thumb">
                      <a
                        href="/y-kien/44/Dap-ung-yeu-cau-chat-luong-cao.htm"
                      >
                        <img
                          width="165"
                          height="165"
                          src="../../../assets/Upload/Images/280520073407.jpg"
                          class="attachment-wc-testimonial-thumb size-wc-testimonial-thumb wp-post-image"
                          alt=""
                          srcset="
                            /Upload/Images/280520073407.jpg 165w,
                            /Upload/Images/280520073407.jpg 150w,
                            /Upload/Images/280520073407.jpg 300w,
                            /Upload/Images/280520073407.jpg 180w,
                            /Upload/Images/280520073407.jpg 175w,
                            /Upload/Images/280520073407.jpg 350w,
                            /Upload/Images/280520073407.jpg 500w
                          "
                          sizes="(max-width: 165px) 100vw, 165px"
                        />
                      </a>
                    </div>
                    <div class="testimonial-detail">
                      <h4>
                        <a
                          href="/y-kien/44/Dap-ung-yeu-cau-chat-luong-cao.htm"
                          >Đáp ứng yêu cầu chất lượng cao</a
                        >
                      </h4>
                      <p style="text-align: justify !important">
                        Sản phẩm của
                        <a href="/index.htm"
                          ><strong>NhomCaoCap.Com</strong></a
                        >
                        đáp ứng yêu cầu thiết kế và tiêu chuẩn kỹ thuật,
                        các hạng mục
                        <a href="/san-pham.htm">cửa nhôm cao cấp</a> và
                        mái kính đẹp và phù hợp với nội thất của căn nhà.
                        Chúng tôi hài lòng với chất lượng dịch vụ của
                        <a href="https://nhomcaocap.com"
                          ><strong>NhomCaoCap.Com</strong></a
                        >
                      </p>
                      <strong
                        ><cite
                          >Anh Huấn, Biệt thự ở Thanh Xuân, Hà Nội</cite
                        ></strong
                      >
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div
                  class="owl-item cloned"
                  style="width: 565px; margin-right: 40px"
                >
                  <div class="testimonial">
                    <div class="testimonial-thumb">
                      <a href="/y-kien/43/Moi-thu-that-tuyet-voi-.htm">
                        <img
                          width="165"
                          height="165"
                          src="../../../assets/Upload/Images/030520080836.jpg"
                          class="attachment-wc-testimonial-thumb size-wc-testimonial-thumb wp-post-image"
                          alt=""
                          srcset="
                            ../../../assets/Upload/Images/030520080836.jpg 165w,
                            ../../../assets/Upload/Images/030520080836.jpg 150w,
                            ../../../assets/Upload/Images/030520080836.jpg 300w,
                            ../../../assets/Upload/Images/030520080836.jpg 180w,
                            ../../../assets/Upload/Images/030520080836.jpg 175w,
                            ../../../assets/Upload/Images/030520080836.jpg 350w,
                            ../../../assets/Upload/Images/030520080836.jpg 500w
                          "
                          sizes="(max-width: 165px) 100vw, 165px"
                        />
                      </a>
                    </div>
                    <div class="testimonial-detail">
                      <h4>
                        <a href="/y-kien/43/Moi-thu-that-tuyet-voi-.htm"
                          >Mọi thứ thật tuyệt vời!</a
                        >
                      </h4>
                      <p style="text-align: justify !important">
                        <a href="/index.htm"
                          ><strong>NhomCaoCap.Com</strong></a
                        >
                        cung cấp các giải pháp về cửa cho
                        <a href="/tin-tuc/20/Du-an-da-thuc-hien.htm"
                          >công trình nhà dân</a
                        >
                        và
                        <a href="/tin-tuc/20/Du-an-da-thuc-hien.htm"
                          >dự án</a
                        >. Sản phẩm Cửa làm đúng tiến độ và đáp ứng yêu
                        cầu kỹ thuật, dịch vụ bảo hành nhanh chóng kịp
                        thời đảm bảo an tâm và an toàn cho khách hàng...
                      </p>
                      <strong
                        ><cite
                          >Đào Xuân Kiên -&nbsp; Phó TGĐ Thế Giới Bất Động
                          Sản</cite
                        ></strong
                      >
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div
                  class="owl-item active"
                  style="width: 565px; margin-right: 40px"
                >
                  <div class="testimonial">
                    <div class="testimonial-thumb">
                      <a
                        href="/y-kien/108/Chat-luong-tao-nen-Thuong-hieu.htm"
                      >
                        <img
                          width="165"
                          height="165"
                          src="../../../assets/Upload/Images/190620055714.jpg"
                          class="attachment-wc-testimonial-thumb size-wc-testimonial-thumb wp-post-image"
                          alt=""
                          srcset="
                            ../../../assets/Upload/Images/190620055714.jpg 165w,
                            ../../../assets/Upload/Images/190620055714.jpg 150w,
                            ../../../assets/Upload/Images/190620055714.jpg 300w,
                            ../../../assets/Upload/Images/190620055714.jpg 180w,
                            ../../../assets/Upload/Images/190620055714.jpg 175w,
                            ../../../assets/Upload/Images/190620055714.jpg 350w,
                            ../../../assets/Upload/Images/190620055714.jpg 500w
                          "
                          sizes="(max-width: 165px) 100vw, 165px"
                        />
                      </a>
                    </div>
                    <div class="testimonial-detail">
                      <h4>
                        <a
                          href="/y-kien/108/Chat-luong-tao-nen-Thuong-hieu.htm"
                          >Chất lượng tạo nên Thương hiệu</a
                        >
                      </h4>
                      <p style="text-align: justify">
                        Chất lượng tạo nên Thương Hiệu, ko còn nghi ngờ gì
                        nữa,
                        <a href="/index.htm"
                          ><strong>NHOMCAOCAP.COM</strong></a
                        >
                        chính là Đối tác tin cậy của DHA Việt Nam trong
                        mảng Hệ thống
                        <a href="/san-pham.htm">cửa Nhôm kính</a>.
                      </p>
                      <div style="text-align: justify">
                        <strong
                          ><cite
                            >Nguyễn Tuấn Anh - CT Ngọc Thụy, Gia Lâm, Hà
                            Nội</cite
                          ></strong
                        >
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div
                  class="owl-item active"
                  style="width: 565px; margin-right: 40px"
                >
                  <div class="testimonial">
                    <div class="testimonial-thumb">
                      <a href="/y-kien/45/Rat-ung-y-ve-san-pham.htm">
                        <img
                          width="165"
                          height="165"
                          src="../../../assets/Upload/Images/190720101123.jpg"
                          class="attachment-wc-testimonial-thumb size-wc-testimonial-thumb wp-post-image"
                          alt=""
                          srcset="
                            /Upload/Images/190720101123.jpg 165w,
                            /Upload/Images/190720101123.jpg 150w,
                            /Upload/Images/190720101123.jpg 300w,
                            /Upload/Images/190720101123.jpg 180w,
                            /Upload/Images/190720101123.jpg 175w,
                            /Upload/Images/190720101123.jpg 350w,
                            /Upload/Images/190720101123.jpg 500w
                          "
                          sizes="(max-width: 165px) 100vw, 165px"
                        />
                      </a>
                    </div>
                    <div class="testimonial-detail">
                      <h4>
                        <a href="/y-kien/45/Rat-ung-y-ve-san-pham.htm"
                          >Rất ưng ý về sản phẩm</a
                        >
                      </h4>
                      <p style="text-align: justify !important">
                        Mọi người trong gia đình đều ưng ý với sản phẩm
                        của
                        <a href="/index.htm"
                          ><strong>NhomCaoCap.Com</strong></a
                        >. Tôi cũng thở phào vì lựa chọn nhà thầu đúng
                        đắn. Đội ngũ lắp đặt rất lành nghề và nhiệt tình
                        chu đáo. Xin chân thành cảm ơn Công ty.
                      </p>
                      <strong
                        ><cite
                          >Mr Phú - CEO Công ty Nội thất</cite
                        ></strong
                      >
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div
                  class="owl-item"
                  style="width: 565px; margin-right: 40px"
                >
                  <div class="testimonial">
                    <div class="testimonial-thumb">
                      <a
                        href="/y-kien/44/Dap-ung-yeu-cau-chat-luong-cao.htm"
                      >
                        <img
                          width="165"
                          height="165"
                          src="../../../assets/Upload/Images/280520073407.jpg"
                          class="attachment-wc-testimonial-thumb size-wc-testimonial-thumb wp-post-image"
                          alt=""
                          srcset="
                            /Upload/Images/280520073407.jpg 165w,
                            /Upload/Images/280520073407.jpg 150w,
                            /Upload/Images/280520073407.jpg 300w,
                            /Upload/Images/280520073407.jpg 180w,
                            /Upload/Images/280520073407.jpg 175w,
                            /Upload/Images/280520073407.jpg 350w,
                            /Upload/Images/280520073407.jpg 500w
                          "
                          sizes="(max-width: 165px) 100vw, 165px"
                        />
                      </a>
                    </div>
                    <div class="testimonial-detail">
                      <h4>
                        <a
                          href="/y-kien/44/Dap-ung-yeu-cau-chat-luong-cao.htm"
                          >Đáp ứng yêu cầu chất lượng cao</a
                        >
                      </h4>
                      <p style="text-align: justify !important">
                        Sản phẩm của
                        <a href="/index.htm"
                          ><strong>NhomCaoCap.Com</strong></a
                        >
                        đáp ứng yêu cầu thiết kế và tiêu chuẩn kỹ thuật,
                        các hạng mục
                        <a href="/san-pham.htm">cửa nhôm cao cấp</a> và
                        mái kính đẹp và phù hợp với nội thất của căn nhà.
                        Chúng tôi hài lòng với chất lượng dịch vụ của
                        <a href="https://nhomcaocap.com"
                          ><strong>NhomCaoCap.Com</strong></a
                        >
                      </p>
                      <strong
                        ><cite
                          >Anh Huấn, Biệt thự ở Thanh Xuân, Hà Nội</cite
                        ></strong
                      >
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div
                  class="owl-item"
                  style="width: 565px; margin-right: 40px"
                >
                  <div class="testimonial">
                    <div class="testimonial-thumb">
                      <a href="/y-kien/43/Moi-thu-that-tuyet-voi-.htm">
                        <img
                          width="165"
                          height="165"
                          src="../../../assets/Upload/Images/030520080836.jpg"
                          class="attachment-wc-testimonial-thumb size-wc-testimonial-thumb wp-post-image"
                          alt=""
                          srcset="
                            ../../../assets/Upload/Images/030520080836.jpg 165w,
                            ../../../assets/Upload/Images/030520080836.jpg 150w,
                            ../../../assets/Upload/Images/030520080836.jpg 300w,
                            ../../../assets/Upload/Images/030520080836.jpg 180w,
                            ../../../assets/Upload/Images/030520080836.jpg 175w,
                            ../../../assets/Upload/Images/030520080836.jpg 350w,
                            ../../../assets/Upload/Images/030520080836.jpg 500w
                          "
                          sizes="(max-width: 165px) 100vw, 165px"
                        />
                      </a>
                    </div>
                    <div class="testimonial-detail">
                      <h4>
                        <a href="/y-kien/43/Moi-thu-that-tuyet-voi-.htm"
                          >Mọi thứ thật tuyệt vời!</a
                        >
                      </h4>
                      <p style="text-align: justify !important">
                        <a href="/index.htm"
                          ><strong>NhomCaoCap.Com</strong></a
                        >
                        cung cấp các giải pháp về cửa cho
                        <a href="/tin-tuc/20/Du-an-da-thuc-hien.htm"
                          >công trình nhà dân</a
                        >
                        và
                        <a href="/tin-tuc/20/Du-an-da-thuc-hien.htm"
                          >dự án</a
                        >. Sản phẩm Cửa làm đúng tiến độ và đáp ứng yêu
                        cầu kỹ thuật, dịch vụ bảo hành nhanh chóng kịp
                        thời đảm bảo an tâm và an toàn cho khách hàng...
                      </p>
                      <strong
                        ><cite
                          >Đào Xuân Kiên -&nbsp; Phó TGĐ Thế Giới Bất Động
                          Sản</cite
                        ></strong
                      >
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div
                  class="owl-item cloned"
                  style="width: 565px; margin-right: 40px"
                >
                  <div class="testimonial">
                    <div class="testimonial-thumb">
                      <a
                        href="/y-kien/108/Chat-luong-tao-nen-Thuong-hieu.htm"
                      >
                        <img
                          width="165"
                          height="165"
                          src="../../../assets/Upload/Images/190620055714.jpg"
                          class="attachment-wc-testimonial-thumb size-wc-testimonial-thumb wp-post-image"
                          alt=""
                          srcset="
                            /Upload/Images/190620055714.jpg 165w,
                            /Upload/Images/190620055714.jpg 150w,
                            /Upload/Images/190620055714.jpg 300w,
                            /Upload/Images/190620055714.jpg 180w,
                            /Upload/Images/190620055714.jpg 175w,
                            /Upload/Images/190620055714.jpg 350w,
                            /Upload/Images/190620055714.jpg 500w
                          "
                          sizes="(max-width: 165px) 100vw, 165px"
                        />
                      </a>
                    </div>
                    <div class="testimonial-detail">
                      <h4>
                        <a
                          href="/y-kien/108/Chat-luong-tao-nen-Thuong-hieu.htm"
                          >Chất lượng tạo nên Thương hiệu</a
                        >
                      </h4>
                      <p style="text-align: justify">
                        Chất lượng tạo nên Thương Hiệu, ko còn nghi ngờ gì
                        nữa,
                        <a href="/index.htm"
                          ><strong>NHOMCAOCAP.COM</strong></a
                        >
                        chính là Đối tác tin cậy của DHA Việt Nam trong
                        mảng Hệ thống
                        <a href="/san-pham.htm">cửa Nhôm kính</a>.
                      </p>
                      <div style="text-align: justify">
                        <strong
                          ><cite
                            >Nguyễn Tuấn Anh - CT Ngọc Thụy, Gia Lâm, Hà
                            Nội</cite
                          ></strong
                        >
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div
                  class="owl-item cloned"
                  style="width: 565px; margin-right: 40px"
                >
                  <div class="testimonial">
                    <div class="testimonial-thumb">
                      <a href="/y-kien/45/Rat-ung-y-ve-san-pham.htm">
                        <img
                          width="165"
                          height="165"
                          src="../../../assets/Upload/Images/190720101123.jpg"
                          class="attachment-wc-testimonial-thumb size-wc-testimonial-thumb wp-post-image"
                          alt=""
                          srcset="
                            /Upload/Images/190720101123.jpg 165w,
                            /Upload/Images/190720101123.jpg 150w,
                            /Upload/Images/190720101123.jpg 300w,
                            /Upload/Images/190720101123.jpg 180w,
                            /Upload/Images/190720101123.jpg 175w,
                            /Upload/Images/190720101123.jpg 350w,
                            /Upload/Images/190720101123.jpg 500w
                          "
                          sizes="(max-width: 165px) 100vw, 165px"
                        />
                      </a>
                    </div>
                    <div class="testimonial-detail">
                      <h4>
                        <a href="/y-kien/45/Rat-ung-y-ve-san-pham.htm"
                          >Rất ưng ý về sản phẩm</a
                        >
                      </h4>
                      <p style="text-align: justify !important">
                        Mọi người trong gia đình đều ưng ý với sản phẩm
                        của
                        <a href="/index.htm"
                          ><strong>NhomCaoCap.Com</strong></a
                        >. Tôi cũng thở phào vì lựa chọn nhà thầu đúng
                        đắn. Đội ngũ lắp đặt rất lành nghề và nhiệt tình
                        chu đáo. Xin chân thành cảm ơn Công ty.
                      </p>
                      <strong
                        ><cite
                          >Mr Phú - CEO Công ty Nội thất</cite
                        ></strong
                      >
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-controls">
              <div class="owl-nav">
                <div class="owl-prev" style="">
                  <i class="fa fa-angle-left"></i>
                </div>
                <div class="owl-next" style="">
                  <i class="fa fa-angle-right"></i>
                </div>
              </div>
              <div class="owl-dots" style="">
                <div class="owl-dot active"><span></span></div>
                <div class="owl-dot"><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
