<div class="wc-row row">
  <div class="kc-wrap-columns">
    <div class="kc-elm kc-css-279163 small-12 columns small-12">
      <div class="kc-col-container">
        <div id="982943" class="section-title-wrapper">
          <div class="section-title">
            <h2>Đối tác của Chúng tôi</h2>
            <p>Chúng tôi tự hào là đối tác với các Công ty sau</p>
          </div>
        </div>
        <div
          id="904695"
          class="brand-carousel side-controls owl-carousel owl-theme owl-responsive-1000 owl-loaded"
        >
          <div class="owl-stage-outer">
            <div
              class="owl-stage"
              style="
                transform: translate3d(-1416px, 0px, 0px);
                transition: all 0.25s ease 0s;
                width: 4484px;
              "
            >
              <div
                class="owl-item cloned"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a href="https://nhomcaocap.com"
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520062014.jpg"
                      class="thumbnail"
                      alt="KCC"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a href="https://nhomcaocap.com"
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520062045.jpg"
                      class="thumbnail"
                      alt="KinLong"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a href="https://nhomcaocap.com"
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520062113.jpg"
                      class="thumbnail"
                      alt="Roto"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a href="https://nhomcaocap.com"
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520062428.jpg"
                      class="thumbnail"
                      alt="Wacker"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a href="https://nhomcaocap.com"
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520062342.jpg"
                      class="thumbnail"
                      alt="Reynaers"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a href="https://nhomcaocap.com"
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/070620100154.jpg"
                      class="thumbnail"
                      alt="CMECH"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a href="https://nhomcaocap.com"
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520062528.jpg"
                      class="thumbnail"
                      alt="AWS"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a href="https://nhomcaocap.com"
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520061915.jpg"
                      class="thumbnail"
                      alt="Apollo"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a href="https://nhomcaocap.com"
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520061944.jpg"
                      class="thumbnail"
                      alt="Hopo"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a href="https://nhomcaocap.com"
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520062014.jpg"
                      class="thumbnail"
                      alt="KCC"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item active"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a routerLink=""
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520062045.jpg"
                      class="thumbnail"
                      alt="KinLong"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a routerLink=""
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520062113.jpg"
                      class="thumbnail"
                      alt="Roto"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a routerLink=""
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520062428.jpg"
                      class="thumbnail"
                      alt="Wacker"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a routerLink=""
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520062342.jpg"
                      class="thumbnail"
                      alt="Reynaers"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a routerLink=""
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/070620100154.jpg"
                      class="thumbnail"
                      alt="CMECH"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a routerLink=""
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520062528.jpg"
                      class="thumbnail"
                      alt="AWS"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a href="https://nhomcaocap.com"
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520061915.jpg"
                      class="thumbnail"
                      alt="Apollo"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a href="https://nhomcaocap.com"
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520061944.jpg"
                      class="thumbnail"
                      alt="Hopo"
                  /></a>
                </div>
              </div>
              <div
                class="owl-item cloned"
                style="width: 226px; margin-right: 10px"
              >
                <div class="bran-logo">
                  <a href="https://nhomcaocap.com"
                    ><img
                      height="98"
                      src="../../../assets/Upload/Partner/030520062014.jpg"
                      class="thumbnail"
                      alt="KCC"
                  /></a>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-controls">
            <div class="owl-nav">
              <div class="owl-prev" style="">
                <i class="fa fa-angle-left"></i>
              </div>
              <div class="owl-next" style="">
                <i class="fa fa-angle-right"></i>
              </div>
            </div>
            <div class="owl-dots" style="">
              <div class="owl-dot active"><span></span></div>
              <div class="owl-dot"><span></span></div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
