<div class="kc-elm kc-css-367435 kc-row-container module transparent-background">
  <div class="wc-row row">
    <div class="kc-wrap-columns">
      <div class="kc-elm kc-css-364254 small-12 columns small-12">
        <div class="kc-col-container">
          <div id="936330" class="section-title-wrapper">
            <div class="section-title">
              <h2>Sản phẩm sắp tới</h2>
              <p>Các Bạn có thể đặt hàng ngay từ hôm nay!</p>
            </div>
          </div>
          <div class="row">
            <div
              id="434783"
              class="small-12 columns testimonials side-controls owl-carousel owl-theme owl-responsive-1000 owl-loaded"
            >
              <div class="owl-stage-outer">
                <div
                  class="owl-stage"
                  style="
                    transform: translate3d(-1210px, 0px, 0px);
                    transition: all 0.25s ease 0s;
                    width: 4840px;
                  "
                >
                  <div
                    class="owl-item cloned"
                    style="width: 565px; margin-right: 40px"
                  >
                    <div class="event">
                      <div class="medium-8 small-12 columns event-data">
                        <h4>
                          <a href="/16/Nhom-he-cao-cap.htm"
                            >Nhôm hệ cao cấp</a
                          >
                        </h4>
                        <p>
                          Nguyên vật liệu của Sản phẩm nhập khẩu từ Đức.
                          Dòng sản phẩm cao cấp, luxury. <br />
                          Sản xuất theo tiêu chuẩn khắt khe của Châu
                          Âu...<br />
                          Bảo hành trọn đời.<br />
                        </p>
                        <p>
                          <strong>Mã SP:</strong>
                          <strong>MLLUXURY016</strong><br />
                          <strong>Bảo Hành:</strong>
                          <strong>Trọn đời</strong>
                        </p>
                        <a
                          href="/Dat-hang.htm?ProductId=16"
                          class="button primary bordered-dark"
                          >Đặt hàng ngay</a
                        >
                      </div>
                      <div class="medium-4 small-12 columns event-thumb">
                        <a href="/16/Nhom-he-cao-cap.htm">
                          <img
                            width="175"
                            height="292"
                            src="../../../assets/Upload/Images2/030520114718.jpg"
                            class="attachment-wc-event-grid size-wc-event-grid wp-post-image"
                            alt="Nhôm hệ cao cấp"
                          />
                        </a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div
                    class="owl-item cloned"
                    style="width: 565px; margin-right: 40px"
                  >
                    <div class="event">
                      <div class="medium-8 small-12 columns event-data">
                        <h4>
                          <a href="/17/Nhom-he-cao-cap.htm"
                            >Nhôm hệ cao cấp</a
                          >
                        </h4>
                        <p>
                          Nguyên vật liệu của Sản phẩm nhập khẩu từ Đức.
                          Dòng sản phẩm cao cấp, luxury. <br />
                          Sản xuất theo tiêu chuẩn khắt khe của Châu
                          Âu...<br />
                          Bảo hành trọn đời.<br />
                        </p>
                        <p>
                          <strong>Mã SP:</strong>
                          <strong>MLLUXURY017</strong><br />
                          <strong>Bảo Hành:</strong>
                          <strong>Trọn đời</strong>
                        </p>
                        <a
                          href="/Dat-hang.htm?ProductId=17"
                          class="button primary bordered-dark"
                          >Đặt hàng ngay</a
                        >
                      </div>
                      <div class="medium-4 small-12 columns event-thumb">
                        <a href="/17/Nhom-he-cao-cap.htm">
                          <img
                            width="175"
                            height="292"
                            src="../../../assets/Upload/Images2/030520115020.jpg"
                            class="attachment-wc-event-grid size-wc-event-grid wp-post-image"
                            alt="Nhôm hệ cao cấp"
                          />
                        </a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div
                    class="owl-item active"
                    style="width: 565px; margin-right: 40px"
                  >
                    <div class="event">
                      <div class="medium-8 small-12 columns event-data">
                        <h4>
                          <a href="/13/Nhom-he-cao-cap.htm"
                            >Nhôm hệ cao cấp</a
                          >
                        </h4>
                        <p>
                          Nguyên vật liệu của Sản phẩm nhập khẩu từ Đức.
                          Dòng sản phẩm cao cấp, luxury. <br />
                          Sản xuất theo tiêu chuẩn khắt khe của Châu
                          Âu...<br />
                          Bảo hành trọn đời.<br />
                        </p>
                        <p>
                          <strong>Mã SP:</strong> <strong>ML-NCC013</strong
                          ><br />
                          <strong>Bảo Hành:</strong> Trọn đời
                        </p>
                        <a
                          href="/Dat-hang.htm?ProductId=13"
                          class="button primary bordered-dark"
                          >Đặt hàng ngay</a
                        >
                      </div>
                      <div class="medium-4 small-12 columns event-thumb">
                        <a href="/13/Nhom-he-cao-cap.htm">
                          <img
                            width="175"
                            height="292"
                            src="../../../assets/Upload/Images2/030520113357.jpg"
                            class="attachment-wc-event-grid size-wc-event-grid wp-post-image"
                            alt="Nhôm hệ cao cấp"
                          />
                        </a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div
                    class="owl-item active"
                    style="width: 565px; margin-right: 40px"
                  >
                    <div class="event">
                      <div class="medium-8 small-12 columns event-data">
                        <h4>
                          <a href="/14/Nhom-he-cao-cap.htm"
                            >Nhôm hệ cao cấp</a
                          >
                        </h4>
                        <p>
                          Nguyên vật liệu của Sản phẩm nhập khẩu từ Đức.
                          Dòng sản phẩm cao cấp, luxury. <br />
                          Sản xuất theo tiêu chuẩn khắt khe của Châu
                          Âu...<br />
                          Bảo hành trọn đời.<br />
                        </p>
                        <p>
                          <strong>Mã SP:</strong>
                          <strong>MLLUXURY014</strong><br />
                          <strong>Bảo Hành:</strong>
                          <strong>Trọn đời</strong>
                        </p>
                        <a
                          href="/Dat-hang.htm?ProductId=14"
                          class="button primary bordered-dark"
                          >Đặt hàng ngay</a
                        >
                      </div>
                      <div class="medium-4 small-12 columns event-thumb">
                        <a href="/14/Nhom-he-cao-cap.htm">
                          <img
                            width="175"
                            height="292"
                            src="../../../assets/Upload/Images2/030520113815.jpg"
                            class="attachment-wc-event-grid size-wc-event-grid wp-post-image"
                            alt="Nhôm hệ cao cấp"
                          />
                        </a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div
                    class="owl-item"
                    style="width: 565px; margin-right: 40px"
                  >
                    <div class="event">
                      <div class="medium-8 small-12 columns event-data">
                        <h4>
                          <a href="/16/Nhom-he-cao-cap.htm"
                            >Nhôm hệ cao cấp</a
                          >
                        </h4>
                        <p>
                          Nguyên vật liệu của Sản phẩm nhập khẩu từ Đức.
                          Dòng sản phẩm cao cấp, luxury. <br />
                          Sản xuất theo tiêu chuẩn khắt khe của Châu
                          Âu...<br />
                          Bảo hành trọn đời.<br />
                        </p>
                        <p>
                          <strong>Mã SP:</strong>
                          <strong>MLLUXURY016</strong><br />
                          <strong>Bảo Hành:</strong>
                          <strong>Trọn đời</strong>
                        </p>
                        <a
                          href="/Dat-hang.htm?ProductId=16"
                          class="button primary bordered-dark"
                          >Đặt hàng ngay</a
                        >
                      </div>
                      <div class="medium-4 small-12 columns event-thumb">
                        <a href="/16/Nhom-he-cao-cap.htm">
                          <img
                            width="175"
                            height="292"
                            src="../../../assets/Upload/Images2/030520114718.jpg"
                            class="attachment-wc-event-grid size-wc-event-grid wp-post-image"
                            alt="Nhôm hệ cao cấp"
                          />
                        </a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div
                    class="owl-item"
                    style="width: 565px; margin-right: 40px"
                  >
                    <div class="event">
                      <div class="medium-8 small-12 columns event-data">
                        <h4>
                          <a href="/17/Nhom-he-cao-cap.htm"
                            >Nhôm hệ cao cấp</a
                          >
                        </h4>
                        <p>
                          Nguyên vật liệu của Sản phẩm nhập khẩu từ Đức.
                          Dòng sản phẩm cao cấp, luxury. <br />
                          Sản xuất theo tiêu chuẩn khắt khe của Châu
                          Âu...<br />
                          Bảo hành trọn đời.<br />
                        </p>
                        <p>
                          <strong>Mã SP:</strong>
                          <strong>MLLUXURY017</strong><br />
                          <strong>Bảo Hành:</strong>
                          <strong>Trọn đời</strong>
                        </p>
                        <a
                          href="/Dat-hang.htm?ProductId=17"
                          class="button primary bordered-dark"
                          >Đặt hàng ngay</a
                        >
                      </div>
                      <div class="medium-4 small-12 columns event-thumb">
                        <a href="/17/Nhom-he-cao-cap.htm">
                          <img
                            width="175"
                            height="292"
                            src="../../../assets/Upload/Images2/030520115020.jpg"
                            class="attachment-wc-event-grid size-wc-event-grid wp-post-image"
                            alt="Nhôm hệ cao cấp"
                          />
                        </a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div
                    class="owl-item cloned"
                    style="width: 565px; margin-right: 40px"
                  >
                    <div class="event">
                      <div class="medium-8 small-12 columns event-data">
                        <h4>
                          <a href="/13/Nhom-he-cao-cap.htm"
                            >Nhôm hệ cao cấp</a
                          >
                        </h4>
                        <p>
                          Nguyên vật liệu của Sản phẩm nhập khẩu từ Đức.
                          Dòng sản phẩm cao cấp, luxury. <br />
                          Sản xuất theo tiêu chuẩn khắt khe của Châu
                          Âu...<br />
                          Bảo hành trọn đời.<br />
                        </p>
                        <p>
                          <strong>Mã SP:</strong> <strong>ML-NCC013</strong
                          ><br />
                          <strong>Bảo Hành:</strong> Trọn đời
                        </p>
                        <a
                          href="/Dat-hang.htm?ProductId=13"
                          class="button primary bordered-dark"
                          >Đặt hàng ngay</a
                        >
                      </div>
                      <div class="medium-4 small-12 columns event-thumb">
                        <a href="/13/Nhom-he-cao-cap.htm">
                          <img
                            width="175"
                            height="292"
                            src="../../../assets/Upload/Images2/030520113357.jpg"
                            class="attachment-wc-event-grid size-wc-event-grid wp-post-image"
                            alt="Nhôm hệ cao cấp"
                          />
                        </a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div
                    class="owl-item cloned"
                    style="width: 565px; margin-right: 40px"
                  >
                    <div class="event">
                      <div class="medium-8 small-12 columns event-data">
                        <h4>
                          <a href="/14/Nhom-he-cao-cap.htm"
                            >Nhôm hệ cao cấp</a
                          >
                        </h4>
                        <p>
                          Nguyên vật liệu của Sản phẩm nhập khẩu từ Đức.
                          Dòng sản phẩm cao cấp, luxury. <br />
                          Sản xuất theo tiêu chuẩn khắt khe của Châu
                          Âu...<br />
                          Bảo hành trọn đời.<br />
                        </p>
                        <p>
                          <strong>Mã SP:</strong>
                          <strong>MLLUXURY014</strong><br />
                          <strong>Bảo Hành:</strong>
                          <strong>Trọn đời</strong>
                        </p>
                        <a
                          href="/Dat-hang.htm?ProductId=14"
                          class="button primary bordered-dark"
                          >Đặt hàng ngay</a
                        >
                      </div>
                      <div class="medium-4 small-12 columns event-thumb">
                        <a href="/14/Nhom-he-cao-cap.htm">
                          <img
                            width="175"
                            height="292"
                            src="../../../assets/Upload/Images2/030520113815.jpg"
                            class="attachment-wc-event-grid size-wc-event-grid wp-post-image"
                            alt="Nhôm hệ cao cấp"
                          />
                        </a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-controls">
                <div class="owl-nav">
                  <div class="owl-prev" style="">
                    <i class="fa fa-angle-left"></i>
                  </div>
                  <div class="owl-next" style="">
                    <i class="fa fa-angle-right"></i>
                  </div>
                </div>
                <div class="owl-dots" style="">
                  <div class="owl-dot active"><span></span></div>
                  <div class="owl-dot"><span></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

