<!--Start Banner-->
<div class="banner">
  <div class="slider-banner">
    <div class="lSSlideOuter">
      <div
        class="lSSlideWrapper usingCss on"
        style="transition-duration: 2000ms"
      >
        <div
          class="slider lightSlider lSFade lsGrab"
          style="
            height: 296px;
            padding-bottom: 36.3901%;
            transition-duration: 2000ms;
            transition-timing-function: ease;
          "
        >
          <div class="item lslide active">
            <img
              src="./../../../assets/Upload/Images/Banner/250620045331.jpg"
              alt="Giải pháp về cửa cho Ngôi nhà của Bạn"
            />
            <div class="desc">
              <div class="container">
                <div class="content">
                  <div class="item-ct">
                    <p>
                      Giải pháp về cửa cho Ngôi nhà của Bạn
                      <span>
                        <a routerLink="">XEM CHI TIẾT</a>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item lslide">
            <img
              src="./../../../assets/Upload/Images/Banner/250620045357.jpg"
              alt="NHÀ CUNG CẤP CỬA CHUYÊN NGHIỆP"
            />
            <div class="desc">
              <div class="container">
                <div class="content">
                  <div class="item-ct">
                    <p>
                      NHÀ CUNG CẤP CỬA CHUYÊN NGHIỆP
                      <span>
                        <a routerLink="">XEM CHI TIẾT</a>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="lSAction"><a class="lSPrev"></a><a class="lSNext"></a></div>
      </div>
      <ul class="lSPager lSpg" style="margin-top: 5px">
        <li class="active"><a href="#">1</a></li>
        <li class=""><a href="#">2</a></li>
      </ul>
    </div>
  </div>
</div>
<!--End Banner-->
