<div class="call-to-action">
  <div class="row">
      <div class="large-10 medium-12 small-12 columns">
          <h2><i class="fa-phone" aria-hidden="true"></i> H&atilde;y gọi cho Ch&uacute;ng t&ocirc;i để được tư vấn <span><a href="tel:0982181179" title="Li&ecirc;n hệ nhanh: 0984.436.999" style="color: #E90000 !important">0984.436.999</a></span></h2>
      </div>
      <div class="large-2 medium-12 small-12 columns text-right"> <a href="Can-tu-van.html" class="button secondary">Cần Tư vấn</a></div>
  </div>
</div>
<div class="footer">
  <div class="footerTop">
    <div class="row">
      <div class="large-3 medium-6 small-12 columns">
        <div id="text-2" class="footer-widget">
          <h2><a routerLink="">ALUVAR.COM</a></h2>
          <div class="tx-div"></div>
          <div class="textwidget" style="text-align: justify !important">
            Hệ thống nh&agrave; xưởng quy m&ocirc;, m&aacute;y m&oacute;c hiện
            đại, nh&acirc;n sự nhiều kinh nghiệm, c&ocirc;ng nh&acirc;n tay nghề
            cao. Chuy&ecirc;n cung cấp c&aacute;c sản phẩm
            <a routerLink="phanloai/{}">cửa nh&ocirc;m cao cấp</a> với
            c&aacute;c chất liệu nh&ocirc;m được nhập khẩu từ A-Z,
            <a routerLink="phanloai/{}">nh&ocirc;m k&iacute;nh</a>,
            <a routerLink="phanloai/{}">cửa nhựa l&otilde;i th&eacute;p uPVC</a
            >, cửa gỗ nhựa Composite... với nhiều mẫu m&atilde; v&agrave;
            m&agrave;u sắc đa dạng.
          </div>
        </div>
      </div>
      <div class="large-3 medium-6 small-12 columns">
        <div id="nav_menu-3" class="footer-widget">
          <h2>Hỗ trợ Khách hàng</h2>
          <div class="tx-div"></div>
          <div class="menu-quick-links-container">
            <ul id="menu-quick-links" class="menu">
              <li
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-415"
                style="width: 100%"
              >
                <a href="huong-dan-dat-hang.html">Hướng dẫn đặt hàng</a>
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-417"
                style="width: 100%"
              >
                <a href="huong-dan-thanh-toan.html">Hướng dẫn thanh toán</a>
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-419"
                style="width: 100%"
              >
                <a href="faq.html">Câu hỏi thường gặp (faq)</a>
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-421"
                style="width: 100%"
              >
                <a href="chinh-sach-khach-hang.html">Chính sách Khách hàng</a>
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-421"
                style="width: 100%"
              >
                <a href="#">&nbsp;</a>
              </li>
              <div id="ucThongKe1_Panel1">
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-421"
                  style="width: 100%"
                >
                  <a href="#">Đang trực tuyến: 15</a>
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-421"
                  style="width: 100%"
                >
                  <a href="#">Hôm nay: 212</a>
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-421"
                  style="width: 100%"
                >
                  <a href="#">Hôm qua: 249</a>
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-421"
                  style="width: 100%"
                >
                  <a href="#">Tất cả: 317,618</a>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="large-3 medium-6 small-12 columns">
        <div id="wc_time_table-2" class="footer-widget">
          <h2>Hệ thống Chi nhánh</h2>
          <div class="tx-div"></div>
          <ul class="vertical office-hours">
            <li>Quý Khách Liên hệ Bảo Hành:</li>
            <li>Zalo: 0984.436.999</li>
          </ul>
        </div>
      </div>
      <div class="large-3 medium-6 small-12 columns">
        <div id="wc_contact_widget-3" class="footer-widget">
          <ul class="address">
            <li>
              <i class="fas fa-home"></i>
              <h4>Trụ sở chính</h4>
              <p>Thôn Tráng Vũ, x.Đồng Than, h.Yên Mỹ, t.Hưng Yên</p>
            </li>
            <li>
              <i class="fas fa-mobile-alt"></i>
              <h4>Điện thoại</h4>
              <p>0984 436 999</p>
            </li>
            <li>
              <i class="fas fa-mobile-alt"></i>
              <h4>Hotline</h4>
              <p>
                <a href="tel:0984436999" title="Liên hệ nhanh: 0984436999"
                  ><b>098.44.36.999</b></a
                >
              </p>
            </li>
            <li>
              <i class="far fa-envelope"></i>
              <h4>Email</h4>
              <p>
                <a href="mailto:Hunglongwindows@gmail.com?subject=Liên%20hệ&body=Xin%20chào">
                  Hunglongwindows@gmail.com
                </a>
              </p>
            </li>
          </ul>
          <hr />
          <div class="socialicons">
            <a href="https://www.facebook.com/hunglongwindows"
              ><i class="fab fa-facebook-f"></i></a
            ><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a
            ><a href="http://linkedin.com/"
              ><i class="fab fa-linkedin-in"></i></a
            ><a href="https://instagram.com/"
              ><i class="fab fa-instagram"></i></a
            ><a href="https://www.youtube.com/"
              ><i class="fab fa-youtube"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footerbottom">
    <div class="row">
      <div class="medium-6 small-12 columns left-side">
        <div class="copyrightinfo">
          &copy; © 2021 Copyright: <a href="index.html">ALUVAR.COM</a>
          <br />
          <a href="https://www.facebook.com/nilalanphuong1209">Thiết kế website</a> bởi
          <a href="https://www.facebook.com/nilalanphuong1209">Đào Thị Lan Phương</a>
        </div>
      </div>
      <div class="medium-6 small-12 columns hide-for-small-only right-side">
        <div class="menu-footer-menu-container">
          <ul id="menu-footer-menu" class="menu">
            <li
              id="menu-item-408"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item menu-item-408"
            >
              <a href="index-2.html" aria-current="page">Trang chủ</a>
            </li>
            <li
              id="menu-item-410"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-410"
            >
              <a href="gioi-thieu.html">Giới thiệu</a>
            </li>
            <li
              id="menu-item-241"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-241"
            >
              <a href="san-pham.html">Sản phẩm</a>
            </li>
            <li
              id="menu-item-242"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-242"
            >
              <a href="Du-an.html">Dự án</a>
            </li>
            <li
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-241"
            >
              <a href="tin-tuc/18/Tuyen-dung.html">Tuyển dụng</a>
            </li>
            <li
              id="menu-item-526"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-526"
            >
              <a href="tin-tuc/19/Tin-tuc-Noi-bat.html">Tin tức</a>
            </li>
            <li
              id="menu-item-527"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-527"
            >
              <a href="Lien-he.html">Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
