<div class="wc-row row">
  <div class="kc-wrap-columns">
    <div class="kc-elm kc-css-690018 small-12 columns small-12">
      <div class="kc-col-container">
        <img
          width="532"
          height="800"
          src="/images/businesswoman.png"
          class="upper-background"
          alt=""
          srcset="
            /images/businesswoman.png         532w,
            /images/businesswoman-200x300.png 200w
          "
          sizes="(max-width: 532px) 100vw, 532px"
        />
        <div class="row">
          <div class="our-process-wrapper">
            <div
              class="large-8 medium-12 large-offset-3 small-12 columns our-process"
            >
              <h2>TƯ VẤN &amp; BÁO GIÁ CHO BẠN!</h2>
              <div class="process">
                <div class="number">1</div>
                <div class="right-info">
                  <h3>Hãy xem các Sản phẩm trên website!</h3>
                  <p>
                    Bạn hãy tham khảo các sản phẩm trên hệ thống website.
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="process">
                <div class="number">2</div>
                <div class="right-info">
                  <h3>Hãy chọn Mẫu sản phẩm Bạn muốn mua!</h3>
                  <p>Chọn Mẫu sản phẩm mà Bạn muốn mua.</p>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="process">
                <div class="number">3</div>
                <div class="right-info">
                  <h3>Liên hệ với Chúng tôi để hỗ trợ Bạn tốt hơn!</h3>
                  <p>
                    Hotline 24/7/365:
                    <a
                      href="tel:0982181179"
                      title="Liên hệ nhanh: 0982.18.1179"
                      >0982.18.1179</a
                    >
                    luôn sẵn sàng để hỗ trợ và trợ giúp cho Bạn.
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
