<div class="wc-row">
  <div class="kc-wrap-columns">
    <div class="kc-elm kc-css-637858 small-12 columns small-12">
      <div class="kc-col-container">
        <div id="961875" class="section-title-wrapper">
          <div class="section-title">
            <h2>THƯ VIỆN HÌNH ẢNH</h2>
            <p>Một số hình ảnh sản phẩm đẹp Chúng tôi sản xuất</p>
          </div>
        </div>
        <div id="585121" class="gallery-container">
          <a
            href="../../../assets/Upload/Images/Banner/030520100203.jpg"
            data-lightbox="campus-gallery"
            data-title="Cửa đi mở trượt Nhôm Xingfa"
            ><img
              class="gallery-thumb"
              src="../../../assets/Upload/Images/Banner/030520100203.jpg_thumb.jpg"
              alt="Cửa đi mở trượt Nhôm Xingfa" /></a
          ><a
            href="../../../assets/Upload/Images/Banner/030520101144.jpg"
            data-lightbox="campus-gallery"
            data-title="Cửa sổ mở trượt đẹp"
            ><img
              class="gallery-thumb"
              src="../../../assets/Upload/Images/Banner/030520101144.jpg_thumb.jpg"
              alt="Cửa sổ mở trượt đẹp" /></a
          ><a
            href="../../../assets/Upload/Images/Banner/030520104000.jpg"
            data-lightbox="campus-gallery"
            data-title="Cửa đi mở trượt Nhôm Xingfa"
            ><img
              class="gallery-thumb"
              src="../../../assets/Upload/Images/Banner/030520104000.jpg_thumb.jpg"
              alt="Cửa đi mở trượt Nhôm Xingfa" /></a
          ><a
            href="../../../assets/Upload/Images/Banner/030520105458.jpg"
            data-lightbox="campus-gallery"
            data-title="Cửa đi mở trượt Nhôm Xingfa"
            ><img
              class="gallery-thumb"
              src="../../../assets/Upload/Images/Banner/030520105458.jpg_thumb.jpg"
              alt="Cửa đi mở trượt Nhôm Xingfa" /></a
          ><a
            href="../../../assets/Upload/Images/Banner/030520110246.jpg"
            data-lightbox="campus-gallery"
            data-title="Kính Cường Lực"
            ><img
              class="gallery-thumb"
              src="../../../assets/Upload/Images/Banner/030520110246.jpg_thumb.jpg"
              alt="Kính Cường Lực" /></a
          ><a
            href="../../../assets/Upload/Images/Banner/030520110650.jpg"
            data-lightbox="campus-gallery"
            data-title="Cửa nhôm cầu cách nhiệt"
            ><img
              class="gallery-thumb"
              src="../../../assets/Upload/Images/Banner/030520110650.jpg_thumb.jpg"
              alt="Cửa nhôm cầu cách nhiệt" /></a
          ><a
            href="../../../assets/Upload/Images/Banner/030520100422.jpg"
            data-lightbox="campus-gallery"
            data-title="Cửa đi mở trượt Nhôm Xingfa"
            ><img
              class="gallery-thumb"
              src="../../../assets/Upload/Images/Banner/030520100422.jpg_thumb.jpg"
              alt="Cửa đi mở trượt Nhôm Xingfa" /></a
          ><a
            href="../../../assets/Upload/Images/Banner/030520102831.jpg"
            data-lightbox="campus-gallery"
            data-title="Cửa nhôm cầu cách nhiệt"
            ><img
              class="gallery-thumb"
              src="../../../assets/Upload/Images/Banner/030520102831.jpg_thumb.jpg"
              alt="Cửa nhôm cầu cách nhiệt" /></a
          ><a
            href="../../../assets/Upload/Images/Banner/030520105047.jpg"
            data-lightbox="campus-gallery"
            data-title="Cửa nhôm xingfa"
            ><img
              class="gallery-thumb"
              src="../../../assets/Upload/Images/Banner/030520105047.jpg_thumb.jpg"
              alt="Cửa nhôm xingfa" /></a
          ><a
            href="../../../assets/Upload/Images/Banner/030520105912.jpg"
            data-lightbox="campus-gallery"
            data-title="Kính Cường Lực"
            ><img
              class="gallery-thumb"
              src="../../../assets/Upload/Images/Banner/030520105912.jpg_thumb.jpg"
              alt="Kính Cường Lực" /></a
          ><a
            href="../../../assets/Upload/Images/Banner/030520110954.jpg"
            data-lightbox="campus-gallery"
            data-title="Cửa nhôm cầu cách nhiệt"
            ><img
              class="gallery-thumb"
              src="../../../assets/Upload/Images/Banner/030520110954.jpg_thumb.jpg"
              alt="Cửa nhôm cầu cách nhiệt" /></a
          ><a
            href="../../../assets/Upload/Images/Banner/030520111627.jpg"
            data-lightbox="campus-gallery"
            data-title="Cửa nhựa lõi thép"
            ><img
              class="gallery-thumb"
              src="../../../assets/Upload/Images/Banner/030520111627.jpg_thumb.jpg"
              alt="Cửa nhựa lõi thép"
          /></a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
