<div class="wc-row row">
  <div class="kc-wrap-columns">
    <div class="kc-elm kc-css-651326 small-12 columns small-12">
      <div class="kc-col-container">
        <div id="789905" class="section-title-wrapper">
          <div class="section-title">
            <h2>Sản phẩm nổi bật</h2>
            <p>Một số Sản phẩm nổi bật của Chúng tôi!</p>
          </div>
        </div>
        <div id="715329" class="latest-news news-row row">
          <div class="medium-4 small-12 columns news">
            <div class="post">
              <div class="post-thumb">
                <a href="/10/Cua-di-nhom-cau-cach-nhiet.htm"
                  ><img
                    width="370"
                    height="247"
                    src="../../../assets/Upload/Images1/050520010848.jpg"
                    class="attachment-wc-blog-small size-wc-blog-small wp-post-image"
                    alt="Cửa đi nhôm cầu cách nhiệt"
                    srcset="
                      ../../../assets/Upload/Images1/050520010848.jpg 370w,
                      ../../../assets/Upload/Images1/050520010848.jpg 300w,
                      ../../../assets/Upload/Images1/050520010848.jpg 768w,
                      ../../../assets/Upload/Images1/050520010848.jpg 900w
                    "
                    sizes="(max-width: 370px) 100vw, 370px"
                /></a>
              </div>
              <div class="post-content">
                <h5>
                  <a href="/10/Cua-di-nhom-cau-cach-nhiet.htm"
                    >Cửa đi nhôm cầu cách nhiệt</a
                  >
                </h5>
                <div class="post-meta">
                  Lượt xem: 1063 |
                  <a href="/san-pham.htm" rel="category tag"
                    >Nhôm cao cấp</a
                  >
                </div>
                <p>Mã SP: ML-3503CN</p>
              </div>
            </div>
          </div>

          <div class="medium-4 small-12 columns news">
            <div class="post">
              <div class="post-thumb">
                <a href="/11/Cua-di-mo-truot-nhom-Xingfa.htm"
                  ><img
                    width="370"
                    height="247"
                    src="../../../assets/Upload/Images1/050520010351.jpg"
                    class="attachment-wc-blog-small size-wc-blog-small wp-post-image"
                    alt="Cửa đi mở trượt nhôm Xingfa"
                    srcset="
                      ../../../assets/Upload/Images1/050520010351.jpg 370w,
                      ../../../assets/Upload/Images1/050520010351.jpg 300w,
                      ../../../assets/Upload/Images1/050520010351.jpg 768w,
                      ../../../assets/Upload/Images1/050520010351.jpg 900w
                    "
                    sizes="(max-width: 370px) 100vw, 370px"
                /></a>
              </div>
              <div class="post-content">
                <h5>
                  <a href="/11/Cua-di-mo-truot-nhom-Xingfa.htm"
                    >Cửa đi mở trượt nhôm Xingfa</a
                  >
                </h5>
                <div class="post-meta">
                  Lượt xem: 895 |
                  <a href="/san-pham.htm" rel="category tag"
                    >Nhôm cao cấp</a
                  >
                </div>
                <p>Mã SP: ML-4507XFA</p>
              </div>
            </div>
          </div>

          <div class="medium-4 small-12 columns news">
            <div class="post">
              <div class="post-thumb">
                <a href="/12/Cua-so-mo-truot-co-cau-cach-nhiet.htm"
                  ><img
                    width="370"
                    height="247"
                    src="../../../assets/Upload/Images1/050520011439.jpg"
                    class="attachment-wc-blog-small size-wc-blog-small wp-post-image"
                    alt="Cửa sổ mở trượt có cầu cách nhiệt"
                    srcset="
                      ../../../assets/Upload/Images1/050520011439.jpg 370w,
                      ../../../assets/Upload/Images1/050520011439.jpg 300w,
                      ../../../assets/Upload/Images1/050520011439.jpg 768w,
                      ../../../assets/Upload/Images1/050520011439.jpg 900w
                    "
                    sizes="(max-width: 370px) 100vw, 370px"
                /></a>
              </div>
              <div class="post-content">
                <h5>
                  <a href="/12/Cua-so-mo-truot-co-cau-cach-nhiet.htm"
                    >Cửa sổ mở trượt có cầu cách nhiệt</a
                  >
                </h5>
                <div class="post-meta">
                  Lượt xem: 952 |
                  <a href="/san-pham.htm" rel="category tag"
                    >Nhôm cao cấp</a
                  >
                </div>
                <p>Mã SP: ML-3511CN</p>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="load-more text-center">
          <a href="#" class="button primary bordered-dark"
            >Xem thêm ...</a
          >
        </div>
        <br /><br />
      </div>
      <div class="kc-col-container">
        <div id="789906" class="section-title-wrapper">
          <div class="section-title">
            <h2>Tin tức nổi bật</h2>
            <p>Một số tin nổi bật từ NhomCaoCap.Com!</p>
          </div>
        </div>
        <div id="715330" class="latest-news news-row row">
          <div class="medium-4 small-12 columns news">
            <div class="post">
              <div class="post-thumb">
                <a href="/chi-tiet-tin-tuc/52/Nha-xuong-hien-dai.htm"
                  ><img
                    width="370"
                    height="247"
                    src="../../../assets/Upload/Images/030520072001.jpg"
                    class="attachment-wc-blog-small size-wc-blog-small wp-post-image"
                    alt="Nhà xưởng hiện đại"
                    srcset="
                      ../../../assets/Upload/Images/030520072001.jpg 370w,
                      ../../../assets/Upload/Images/030520072001.jpg 300w,
                      ../../../assets/Upload/Images/030520072001.jpg 768w,
                      ../../../assets/Upload/Images/030520072001.jpg 900w
                    "
                    sizes="(max-width: 370px) 100vw, 370px"
                /></a>
              </div>
              <div class="post-content">
                <h4>
                  <a href="/chi-tiet-tin-tuc/52/Nha-xuong-hien-dai.htm"
                    >Nhà xưởng hiện đại</a
                  >
                </h4>
                <div class="post-meta">
                  28.04.2020 |
                  <a href="#" title="Nhà xưởng hiện đại" rel="Lượt xem"
                    >Lượt xem</a
                  >
                  : 2955
                </div>
                <p></p>
                <div style="text-align: justify">
                  Xưởng sản xuất của
                  <a href="/index.htm"><strong>NHOMCAOCAP.COM</strong></a>
                  được xây dựng tại Bãi xe 254 Đường Chiến Thắng, P. Văn
                  Quán, Q. Hà Đông, Hà Nội, công suất đạt trên 300m2/
                  ngày. Nhà máy được trang bị hệ thống dây truyền sản xuất
                  hiện đại, được nhập khẩu từ Đài Loan. Nhà máy có hệ
                  thống máy CNC tự động...
                </div>
                <br />
                <a href="/chi-tiet-tin-tuc/52/Nha-xuong-hien-dai.htm"
                  >Xem chi tiết»</a
                >
                <p></p>
              </div>
            </div>
          </div>

          <div class="medium-4 small-12 columns news">
            <div class="post">
              <div class="post-thumb">
                <a href="/chi-tiet-tin-tuc/51/Dich-vu-hau-mai.htm"
                  ><img
                    width="370"
                    height="247"
                    src="../../../assets/Upload/Images/030520072110.jpg"
                    class="attachment-wc-blog-small size-wc-blog-small wp-post-image"
                    alt="Dịch vụ hậu mãi"
                    srcset="
                      ../../../assets/Upload/Images/030520072110.jpg 370w,
                      ../../../assets/Upload/Images/030520072110.jpg 300w,
                      ../../../assets/Upload/Images/030520072110.jpg 768w,
                      ../../../assets/Upload/Images/030520072110.jpg 900w
                    "
                    sizes="(max-width: 370px) 100vw, 370px"
                /></a>
              </div>
              <div class="post-content">
                <h4>
                  <a href="/chi-tiet-tin-tuc/51/Dich-vu-hau-mai.htm"
                    >Dịch vụ hậu mãi</a
                  >
                </h4>
                <div class="post-meta">
                  28.04.2020 |
                  <a href="#" title="Dịch vụ hậu mãi" rel="Lượt xem"
                    >Lượt xem</a
                  >
                  : 2899
                </div>
                <p></p>
                <div style="text-align: justify">
                  Nhằm mang lại cho quý Khách hàng sự trải nghiệm tuyệt
                  vời của sự sáng tạo, đạt được tính thẩm mỹ cao và thoả
                  mãn mọi phong cách thời đại.
                  <a href="/index.htm"><strong>NHOMCAOCAP.COM</strong></a>
                  có thể làm hài lòng những khách hàng kĩ tính nhất.
                  <a href="/chi-tiet-tin-tuc/51/Dich-vu-hau-mai.htm"
                    >Dịch vụ hậu mãi</a
                  >
                  của công ty bảo đảm theo các điều khoản đã ký kết trong
                  Hợp đồng...
                </div>
                <br />
                <a href="/chi-tiet-tin-tuc/51/Dich-vu-hau-mai.htm"
                  >Xem chi tiết»</a
                >
                <p></p>
              </div>
            </div>
          </div>

          <div class="medium-4 small-12 columns news">
            <div class="post">
              <div class="post-thumb">
                <a
                  href="/chi-tiet-tin-tuc/50/Tu-van-truoc-khi-mua-hang.htm"
                  ><img
                    width="370"
                    height="247"
                    src="../../../assets/Upload/Images/080520090336.jpg"
                    class="attachment-wc-blog-small size-wc-blog-small wp-post-image"
                    alt="Tư vấn trước khi mua hàng"
                    srcset="
                      ../../../assets/Upload/Images/080520090336.jpg 370w,
                      ../../../assets/Upload/Images/080520090336.jpg 300w,
                      ../../../assets/Upload/Images/080520090336.jpg 768w,
                      ../../../assets/Upload/Images/080520090336.jpg 900w
                    "
                    sizes="(max-width: 370px) 100vw, 370px"
                /></a>
              </div>
              <div class="post-content">
                <h4>
                  <a
                    href="/chi-tiet-tin-tuc/50/Tu-van-truoc-khi-mua-hang.htm"
                    >Tư vấn trước khi mua hàng</a
                  >
                </h4>
                <div class="post-meta">
                  28.04.2020 |
                  <a
                    href="#"
                    title="Tư vấn trước khi mua hàng"
                    rel="Lượt xem"
                    >Lượt xem</a
                  >
                  : 2866
                </div>
                <p></p>
                <div style="text-align: justify">
                  Với mong muốn đem tới cho khách hàng những trải nghiệm
                  toàn diện nhất khi các bạn muốn chọn cho mình những bộ
                  cửa tốt nhất, phù hợp với túi tiền của mình nhất:
                  <a href="/index.htm"><strong>NHOMCAOCAP.COM</strong></a>
                  sẽ đồng hành và giúp bạn có được nhiều thông tin và và
                  trải nghiệm thực tế nhất...
                </div>
                <br />
                <a
                  href="/chi-tiet-tin-tuc/50/Tu-van-truoc-khi-mua-hang.htm"
                  >Xem chi tiết»</a
                >
                <p></p>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="load-more text-center">
          <a
            href="/tin-tuc/19/Tin-tuc-Noi-bat.htm"
            class="button primary bordered-dark"
            >Xem thêm ...</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
